.nav-bar{
    width:400px;
    background-color: black;
}
.spotify-logo>img{
    padding:30px;
    width:200px;
}
.search-menu{
    color:white;
    padding:30px;

    

}
.home-card,.search-card,.library-card{
    
    padding-bottom:20px;
    padding-left: px;
    
}
.home-img{
    padding:
}